<!DOCTYPE html>
<html>
	<head>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
			rel="stylesheet"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
		/>
	</head>
	<body>
		<div id="app">
			<v-app>
				<v-form v-model="valid">
					<v-container>
						<v-row>
							<v-col cols="8" md="4">
								<v-text-field
									v-model="firstname"
									:rules="nameRules"
									label="First name"
									required
								></v-text-field>
							</v-col>

							<v-col cols="8" md="4">
								<v-text-field
									v-model="lastname"
									:rules="nameRules"
									label="Last name"
									required
								></v-text-field>
							</v-col>

							<v-col cols="8" md="4">
								<v-menu
									ref="menu"
									v-model="menu"
									:close-on-content-click="false"
									transition="scale-transition"
									offset-y
									min-width="auto"
								>
									<template v-slot:activator="{ on, attrs }">
										<v-text-field
											v-model="date"
											label="Birthdate"
											prepend-icon="mdi-calendar"
											readonly
											v-bind="attrs"
											v-on="on"
										></v-text-field>
									</template>
									<v-date-picker
										v-model="date"
										:max="(new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)"
										min="1950-01-01"
										@change="save"
									></v-date-picker>
								</v-menu>
							</vcol>
						</v-row>
					</v-container>
				</v-form>
			</v-app>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
		<script src="app.js"></script>
	</body>
</html>
